.logo {
    width: 40px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20%;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.logo:hover::after {
    content: attr(data-name);
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateX(-50%);
    background-color: #fcf7f7;
    color: #f9f6f6;
    border-radius: 0px;
    font-size: 50px;
    z-index: 1;
}

#sidebar{
    height: calc(100vh - 75px);
}
